body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --text-color: #213547;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}

